body {
  font-family: "CoFo Sans";
  background-color: #fdf8f1;
  margin: 0;
  font-size: 1.5em;
}

.layout {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

header {
  background-color: #fdf8f1;
  font-weight: 500;
  font-size: 22px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  padding: 0 20px;
  border-bottom: 4px solid #2e2a1e;
  border-top: 4px solid #2e2a1e;
  margin-top: 10px;
  
}

header img { 
  width: 150px;
  height: 150px;
}

.header-donate-block {
  padding: 30px;
  margin: 0 40px;
  background-color: #fdf8f1;
  border-radius: 15px;
  border: 4px solid #2e2a1e;
  transition: background-color 0.3s, color 0.3s;
}

.header-donate-block a {
  color: #2e2a1e;
  text-decoration: none;
}

.header-donate-block:hover {
  background-color: #2e2a1e; 
}

.header-donate-block:hover a {
  color: #fdf8f1; 
}

header ul {
  list-style-type: none;
  display: flex;
  justify-content: center;
  gap: 100px;
  
}

header a {
  text-decoration: none;
  color: #2e2a1e;
  text-transform: uppercase;
  display: inline-block;
}

header nav ul li a {
  text-decoration: none;
  color: #2e2a1e; 
  transition: color 0.3s; 

}

header nav ul li a:hover {
  color: #ffca28;
}
header h1,
header h2 {
  margin: 0;
}

header h2 {
  font-size: 1.2em;
  font-weight: 400;
}

footer {
  background: #111;
  color: #bbb;
  padding: 20px;
  text-align: center;
  margin-top: auto
}
footer p{
  font-size: medium;
}

.page-content {
  max-width: 1600px;
  margin: 20px auto 80px;
  padding: 0 100px;
  width: 100%;
  box-sizing: border-box;
}


@media (max-width: 1400px) {

}

@media (max-width: 1080px) {
  header{
    font-size: 18px;
    font-weight: 500;
    border-bottom: 3px solid #2e2a1e;
    border-top: 3px solid #2e2a1e;
  }
  header ul {
  gap: 40px;
  }
  header img{
    width: 110px;
    height: 110px;
  }

  .header-donate-block{
    padding: 15px;
    border: 3px solid #2e2a1e;
    border-radius: 10px; 
  }

  
}