body {
  font-family: "CoFo Sans";
  background-color: #fdf8f1;
  margin: 0;
  font-size: 1.3em;
  min-height: 100vh;
}

.layout {
  min-height: 100vh;
  display: flex;
  flex: 1;
  flex-direction: column;
}
.layout_pusher{
  min-height: 100vh;
  display: flex;
  flex: 1;
  flex-direction: column;
}

.page-content {
  max-width: 1600px;
  margin: 20px auto 80px;
  padding: 0 100px;
  width: 100%;
  box-sizing: border-box;
  flex: 1;
}

h4{
  width: 30%;
  font-size: 24px;
}


/*////////////////////////////////////////////
Header
*/
header {
  position: static;
  background-color: #fdf8f1;
  font-weight: 500;
  font-size: 22px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  text-align: center;
  border-bottom: 4px solid #2e2a1e;
  border-top: 4px solid #2e2a1e;
  margin-top: 5px;
  
}

header img { 
  width: auto;
  max-height: 90px;
 
}

.header__icon {
  display: none;
}

.header-text-mobile{
  display: none;
}
header .img_link{
  margin-left: 50px;
}

.header-donate-block button {
  padding: 17.5px;
  font-size: 22px;
  font-weight: 500;
  font-family: "CoFo Sans";
  background-color: #fdf8f1;
  border-radius: 15px;
  border: 4px solid #2e2a1e;
  transition: background-color 0.3s, color 0.3s;
}

.header-donate-block a {
  color: #2e2a1e;
  text-decoration: none;
}

.header-donate-block:hover button {
  background-color: #2e2a1e; 
}

.header-donate-block:hover a {
  color: #fdf8f1; 
}

header ul {
  list-style-type: none;
  display: flex;
  justify-content: center;
  gap: 100px; 
}

header a {
  text-decoration: none;
  color: #2e2a1e;
  text-transform: uppercase;
  display: inline-block;
}

header nav ul li a {
  text-decoration: none;
  color: #2e2a1e; 
  transition: color 0.3s; 

}
header nav{
  margin-left: 15px;
}
header nav ul li a:hover {
  color: #ffca28;
}
header h1,
header h2 {
  margin: 0;
}

header h2 {
  font-size: 1.2em;
  font-weight: 400;
}
/*
Header
////////////////////////////////////////////*/



/*////////////////////////////////////////////
Donation button and window
*/
.modalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 999;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.4s ease;
}
.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80%;
  max-width: 600px;
  height: auto;
  padding: 20px;

  opacity: 0; 
  font-family: "CoFo Sans";
  transition: opacity 0.4s ease; 
  pointer-events: none; 
  
}
.donationInfo{
  margin: 0 20px 20px ;
}
.modal-content {
  border: 3px solid #2e2a1e;

  background-color: #fdf8f1;
  padding: 40px;
  border-radius: 17.5px;
  text-align: left;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.modal h2 {
  font-size: 28px;
  text-align: center;
  font-weight: 700;
  margin-bottom: 20px;
}
.modal h3 {
  font-size: 24px;
}

.modal p {
  font-size: 22px;
}

.modal button {
  background-color: #fdf8f1;
  color: #2e2a1e;
  border: none;
  padding: 15px 30px;
  cursor: pointer;
  transition: background-color 0.3s;
  border: 3px solid #2e2a1e;
  border-radius: 10px;
  font-size: 20px;
  font-weight: 500;
  font-family: "CoFo Sans";
}

.modal button:hover {
  background-color: #2e2a1e;
  color: #fdf8f1;
}

.modal.visible {
  opacity: 1;
  pointer-events: auto;
}

.modalOverlay.visible {
  opacity: 1;
  pointer-events: auto;
}


@media only screen and (max-width: 768px) {
  .modal h2 {
    font-size: 18px;
    text-align: center;
    font-weight: 700;
    margin-bottom: 20px;
  }
  .modal h3 {
    font-size: 18px;
  }

  .modal p{
    font-size: 16px;
    word-wrap: break-word;
  }
  .donationInfo{
    width: 60vw;
  }
  .modal-content {
    border: 3px solid #2e2a1e;
    border-radius: 15px;
    background-color: #fdf8f1;
    padding: 25px;
    border-radius: 10px;
    text-align: left;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .modal button {
    padding: 10px 20px;
    font-size: 18px;

  }
}


/*
Donation button and window
////////////////////////////////////////////*/



/*////////////////////////////////////////////
Footer
*/
footer {
  background: #111;
  color: #fdf8f1;
  padding: 20px;
  text-align: center;
  margin-top: auto;
}
footer p{
  font-size: medium;
}
/*
Footer
////////////////////////////////////////////*/








/*////////////////////////////////////////////
Adaptive design
*/
@media (max-width: 1080px) {

  body{
    font-size: 0.9em;
  }
  header{
    font-size: 16px;
    font-weight: 500;
    border-bottom: 3px solid #2e2a1e;
    border-top: 3px solid #2e2a1e;
  }

  header .img_link{
    margin-left: 25px;
  }

  header ul {
  gap: 40px;
  }
  header img{
    width: auto;
    height: 75px;
    margin-left: 0;
  }
  header nav{
    margin-left: 0;
  }
  .header-donate-block button{
    padding: 15px;
    font-size: 16px;
    font-family: "CoFo Sans";
    border: 3px solid #2e2a1e;
    border-radius: 10px; 
  }

  
}






@media only screen and (max-width: 768px) {
  .site-pusher,
  .site-container {
    height: 100%;
  }

  .site-container {
    overflow: hidden;
  }

  .site-pusher {
    transition-duration: 0.3s;
    transform: translateX(-50px);
  }

 

  header {
    position: static;
  }
 .logo a{
    margin-left: 90px;
  }
  .header__icon {
    display: block;
    position: relative;
   transform: translateX(25px);
    width: 50px;
    height: 66px;
    cursor: pointer;
  }

  .header__icon::after {
    content: '';
    position: absolute;
    display: block;
    width: 1rem;
    height: 0;
    top: 16px;
    left: 35px;
    box-shadow: -15px 9px 0 2px #2e2a1e, -15px 16px 0 2px #2e2a1e, -15px 23px 0 2px #2e2a1e;
  }

  nav {
    border: 3px solid #2e2a1e;
    margin: 15px;
    border-radius: 15px;
    position: fixed;
    padding-top: 10vh;
    z-index: 2;
    left: 0;
    top: 0;
    bottom: 0;
    background-color: #fdf8f1;
    width: 250px;
    transform: translateX(-315px);
    transition: transform 0.3s ease;
  }

  nav ul {
    display: flex; /* Розміщення елементів у рядок */
    flex-direction: column; /* Вертикальний рядок */
    padding: 0;
    margin: 0;
    
  }

  nav ul li {
    margin-top: 8vh;
    margin-left: 45px;
    margin-right: 30px;
    height: 60px;
    text-align: center;
    line-height: 60px;
    border: 3px solid #2e2a1e;
    border-radius: 10px;

  }

  .header-text-mobile{
    display: block;
    font-size: 24px;
    margin-left: 10px;
    font-weight: 800;
  }

  .header-donate-block button {
    width: fit-content;
    padding:  12.5px 10px;
    font-size: 13px;
    margin-left: 15px;
    margin-right: 2px;
    font-weight: 500;
    font-family: "CoFo Sans";
    background-color: #fdf8f1;
    border-radius: 10px;
    border: 3px solid #2e2a1e;
    transition: background-color 0.3s, color 0.3s;
  }
  .with--sidebar nav {
    transform: translateX(-19px);
  }

  h1{
    font-size: 22px;
  }
  p{
    font-size: 16px;
  }

  .page-content {
    margin: 20px auto 80px;
    padding: 0 30px;
    width: 100%;
    box-sizing: border-box;
    flex: 1;
  }

  .with--sidebar .site-cache {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.6);
    
  }
  .with--sidebar {
    overflow: hidden;
  }








  footer {
    background: #111;
    color: #fdf8f1;
    padding: 10px;
    text-align: center;
    margin-top: auto;
  }
  footer p{
    font-size: small;
  }
}

/*
Adaptive Design
////////////////////////////////////////////*/
