.container {
    display: flex;
    align-items: end;
}

.title h2 {
    font-family: "CoFo Sans";

    transform: translateX(-110%);
    padding: 25px 30px;
    color: #2e2a1e;
    font-size: 32px;
    font-weight: 600;
    background-color: rgb(255, 236, 181, 0.8);
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    border-radius: 15px;
}

